

.scanlines {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    pointer-events: none;
    z-index: 300;
    opacity: 0.6;


  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    animation: scanlines .3s linear infinite;
  }
}

#canvas1 {
    background-image: url('background.png');
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#canvas1, #resetBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    border: 12px solid black;
    z-index: 1;
}

#resetBtn {
    width: 6rem;
    height: 6rem;
    background-color: rgb(255, 255, 25);
}

